# Discord Bot Token
DISCORD_TOKEN=tu_token_aqui

# MongoDB Connection URI
MONGODB_URI=mongodb+srv://usuario:contraseña@cluster.mongodb.net/nombre_bd?retryWrites=true&w=majority

# Server ID (para sincronizar comandos)
GUILD_ID=tu_servidor_id
